<div class="container">
  <div class="content" [ngClass]="{'addUserModal':!user}">
    <h2 *ngIf="!user">Add User Details</h2>
    <h2 *ngIf="user">Edit User Details</h2>
    <div class="close">
      <mat-icon svgIcon="close" (click)="closeModal('close')"></mat-icon>
    </div>
    <form [formGroup]="userDetail" (ngSubmit)="submitEdit(userDetail.valid)">

      <mat-form-field *ngIf="!user">
        <mat-label>
          Name
        </mat-label>

        <input matInput type="text" formControlName="name" />
      </mat-form-field>

      <mat-form-field *ngIf="!user">
        <mat-label>
          Email
        </mat-label>

        <input matInput type="text" formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          Status
        </mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let st of listStatus" [value]="st">{{
            st.value
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          Contact
        </mat-label>

        <input matInput type="text" formControlName="contactNumber" />
      </mat-form-field>
      <mat-radio-group formControlName="roles">
        <mat-radio-button *ngFor="let role of listRoles" [value]="role" [checked]="roles.value.code == role.code">
          {{role.value}}</mat-radio-button>
      </mat-radio-group>

      <button matButton type="submit" class="modalSubmit">Submit</button>
      <button matButton class="modalDelete" *ngIf="user" (click)="deleteUser()">Delete</button>

    </form>
  </div>


</div>
