.userTable{
  width: 100%;
  background-color: #ffffff;



}

.row{
  border: 5px solid #ecececec;

 }


 mat-icon {
   height: .5rem;
   width: .5rem;
 }

 .editIcon{
  height: 1rem;
  width: 1rem;
 }
